@layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: 'nanumsquare';
  src: url('./fonts/NanumSquareR.ttf');
}

@font-face {
  font-family: 'nanumsquare-light';
  src: url('./fonts/NanumSquareL.ttf');
}

@font-face {
  font-family: 'nanumsquare-bold';
  src: url('./fonts/NanumSquareB.ttf');
}

@font-face {
  font-family: 'nanumsquare-extra';
  src: url('./fonts/NanumSquareEB.ttf');
}

:root {
  --font-nanumsquare: 'nanumsquare';
  --font-nanumsquare-light: 'nanumsquare-light';
  --font-nanumsquare-bold: 'nanumsquare-bold';
  --font-nanumsquare-extra: 'nanumsquare-extra';
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  letter-spacing: -0.04rem;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Malgun Gothic,
    맑은 고딕,
    helvetica,
    Apple SD Gothic Neo,
    sans-serif;
  font-weight: 600;
}

a {
  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.15rem;
    text-decoration-thickness: 0.1rem;
  }
}
